[bumpversion]
current_version = 0.12.0
commit = False
tag = False

[bumpversion:file:main.py]

[bumpversion:file:src/__init__.py]

[bumpversion:file:src/ui/main_window.py]

[bumpversion:file:docs/conf.py]

[bumpversion:file:README.md]
